:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196F3;
    --accent-color: #2196F3;
    --primary-bg-color: #E5E5E5;
    --secondary-bg-color: #F5F4FA;
    --header-bg-color: #FFFFFF;
    --footer-bg-color: #2F303A;
    --client-color: #AFB1B8;
}

a:not(.text-link) {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: auto;
}

.site-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--header-bg-color);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.logo:hover {
    color: var(--accent-text-color);
}

.logo-web {
    color: var(--accent-text-color);
}

.site-nav-header {
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.site-nav-main {
    width: 294px;
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 85px;
    margin-right: 0px;
    margin-right: 0px;
}

.site-nav-main1 {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 305px;
}

.site-nav-main .item:not(:last-child) {
    margin-right: 52px;
}

.site-nav-main1 .item + .item{
    margin-left: 30px;
}

.link {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    position: relative;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.link.current {
    color: var(--accent-text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-text-color);
}

.link::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50px;
    background-color: #2196F3;
    border-radius: 4px;
    opacity: 0;
}

.link.current::after {
    opacity: 1;
}

.email {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-text-color);
}

.email:hover {
    color: var(--accent-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-mail {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
    fill: var(--secondary-text-color);
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.tel {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--secondary-text-color);
}

.site-nav-main1 .item:hover {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
}

.site-nav-main1 .item:hover svg {
    fill: inherit;
}

.tel:hover {
    color: var(--accent-text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tel {
    width: 16px;
    height: 11.2px;
    margin-right: 10px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-main1 .item {
    display: flex;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
}

.main {
    padding-top: 94px;
}

.overlay {
    max-width: 1600px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/heromg.jpg);
}

.hero-tittle {
    font-family: Roboto, sans-serif;
    font-weight: 900;
    line-height: 1.36;
    color: var(--header-bg-color);
    text-align: center;
    margin-bottom: 30px;
}

.button-hero {
    color: var(--header-bg-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 4px;
    border: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-bottom: 200px;
    padding-top: 200px;
    align-items: center;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .popup {
    transform: translate(-50%, -50%) scale(0.9);
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    min-width: 528px;
    min-height: 581px;
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
}

.form {
    width: 528px;
    outline: 1px solid #188CE8;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    padding: 40px;
    position: relative;
}

.form-field {

    margin-bottom: 28px;
    position: relative;
}

.form-field input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 42px;
    width: 100%;
} 

.form-input:focus input{
    border-color: #2196F3;
   
    border-radius: 4px;
}

.form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
    transition: transform 250ms linear;
}

.textarea-label {
    position: absolute;
    top: 15%;
    left: 16px;
    transform: translateY(-50%);
    transition: transform 250ms linear;
}


.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
   color: #188CE8;
   transform: translateY(-50px) translateX(-70%);
}

.comment:focus + .textarea-label,
.comment:not(:placeholder-shown) + .textarea-label {
   color: #188CE8;
   transform: translateY(-50px) translateX(-40%);
}

.form-field input:focus,
.form-field textarea:focus {
    outline: none;
    border-color: var(--accent-color);

}

.icon-form {
   position: absolute;
   top: 50%;
   left: 19px;
   transform: translateY(-50%);
   display: inline-block;

   fill: #212121;
}

.form-input:focus ~ .icon-form {
    fill: #188CE8;
}

.button-close {
    width: 11px;
    height: 11px;
    fill: #000000;
}

.button-close:focus,
.button-close:hover {
    fill: #2196F3;
}

.close-bg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: var(--header-bg-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 8px;
    right: 8px;
}

.close-bg:hover .button-close {
    fill: #2196F3;
}

.comment {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 16px;
    width: 100%;
}

.comment .form-label {
    position: absolute;
    top: 0;
}

.comment:focus + .form-label,
.comment:not(:placeholder-shown) + .form-label {
   color: #188CE8;
   transform: translateY(-50px) translateX(-70%);
}

.text-form {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

.text-form-secondary {
    display: block;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    text-align: center;
}

.text-link {
    color: #188CE8;
}

.checkbox {
    appearance: none;
    
}

.checkbox-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.95703 7.75166L2.88825 7.68604L2.81923 7.75141L1.93123 8.59258L1.85486 8.66492L1.93097 8.73753L5.42671 12.0724L5.49574 12.1382L5.56476 12.0724L13.069 4.91352L13.1449 4.84116L13.069 4.76881L12.1873 3.92764L12.1183 3.86183L12.0493 3.92761L5.49577 10.1735L2.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
}

.checkbox:checked + .checkbox-icon {
    
}

.popup-button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    color: var(--header-bg-color);
    background-color: var(--accent-color);
    padding: 10px 55px 10px 56px;
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 30px;
    
    margin-left: 109px;
    margin-right: 108px;
}

.text {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

.functions {
    padding-bottom: 0px;
    padding-top: 94px;
}

.function-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-left: 0px;
}

.icon-antenna {
    width: 65.32px;
    height: 70px;
    fill: var(--title-text-color);
}

.icon-clock {
    width: 66.96px;
    height: 70px;
    fill: var(--title-text-color);
}

.icon-diagram {
    width: 70px;
    height: 53.69px;
    fill: var(--title-text-color);
}

.icon-astronaut {
    width: 70px;
    height: 70px;
    fill: var(--title-text-color);
}

.function-logo {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    left: 815px;
    background: var(--secondary-bg-color);
}

.secondary-function {
    width: 270px;
    height: 16px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.secondary-function1 {
    width: 100%;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--header-bg-color);
    background: rgba(47, 48, 58, 0.8);
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
}

.doing-img {
    display: block;
    
}

.text {
    width: 270px;
    height: 75px;
}

.doing-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.doing-title {
    min-width: 376px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.doing-item {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.box {
     margin: 0px;
     position: relative;
}

.team-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--secondary-bg-color:);
}

.title-team {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0px;
}


.team-item {
    display: flex; 
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.team-item-every {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.social-link {
    width: 206px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin-left: 32px;
    margin-bottom: 24px;
}

.link-bg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--header-bg-color);
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-bg:hover {
    background-color: var(--accent-color); 
}

.link-bg:hover svg {
    fill: var(--header-bg-color); 
}

.icon-instagram,
.icon-twitter,
.icon-fb,
.icon-linkedin {
    width: 20px;
    height: 20px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
}

.name {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.position {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text-color);
    text-align: center;
}

.name-text-project .name-project {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--title-text-color);
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

.text-project {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color);
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
}

.project-item-nav {
    transition: box-shadow var(--transition-function);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    content: '';
}   
   
.project-item-nav:hover .box-hover-text,
.project-item-nav:focus .box-hover-text {
    transform: translateY(0);
    opacity: 0.9;
}

.box-hover-text {
    transform: translateY(100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.product-overlay img {
    width: 100%;
}

.product-overlay:hover,
.product-overlay:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.image-content {
    position: relative;
    overflow: hidden;
}

.image {
    
    height: 294px;
}

.hover-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56;
    color: var(--header-bg-color);
    background-color: var(--accent-color);
    margin: 0px;
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
}

.name-text-project {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding-left: 24px;
    width: 100%;
    border: 1px solid #EEEEEE;
    top: 0;
}

.project-item-nav:hover .name-text-project,
.project-item-nav:focus .name-text-project {
    border-bottom: none;
}

.customers-section {
    display: flex;
    justify-content: stretch;
    align-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.title-clients {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.customers-item {
    display: flex; 
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.customers-item .item {
    width: 170px;
    height: 90px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    padding-top: 24px;
    cursor: pointer;
    transition-property: fill, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item .item:hover {
    border: 1px solid #2196F3;
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--accent-color);
}

.customers-item .item:hover svg {
    fill: inherit;
}

.icon-logo1 {
    width: 44.27px;
    height: 49.23px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo2 {
    width: 40px;
    height: 52px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo3 {
    width: 41px;
    height: 42.6px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo4 {
    width: 79.66px;
    height: 42.02px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo5 {
    width: 59px;
    height: 47px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-logo6 {
    width: 88.48px;
    height: 45.44px;
    fill: var(--client-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-bottom: 50px;
}

.project-section {
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0cm;
    display: flex;
    flex-wrap: wrap;
}

.project-item {
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;  
    margin-top: 0px;
    padding-bottom: 94px;
}

.project-item-nav {
    width: calc((100% - 60px)/3);
    height: 404px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    padding-left: 0px;
    background: #FFFFFF;
    
    box-sizing: border-box;
}

.project-item-nav:nth-child(3n) {
    margin-right: 0px;
}

footer {
    background-color: var(--footer-bg-color);
}

.footer-items {
    display: flex;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-text-item {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    color: var(--header-bg-color);
}

.footer-links {
    display: flex;
    justify-content: space-between;
    width: 206px;
    padding-left: 0px;
}

.footer-links .link-bg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .link-bg:hover {
    background-color: var(--accent-color);
}

.footer-links .link-bg .icon-instagram {
    width: 20px;
    height: 20px;
    fill: var(--header-bg-color);
}

.footer-links .link-bg .icon-twitter {
    width: 20px;
    height: 20px;
    fill: var(--header-bg-color);
}

.footer-links .link-bg .icon-fb {
    width: 20px;
    height: 20px;
    fill: var(--header-bg-color);
}

.footer-links .link-bg .icon-linkedin {
    width: 20px;
    height: 20px;
    fill: var(--header-bg-color);
}

.icon-send {
    width: 24px;
    height: 24px;
    fill: var(--header-bg-color);
    margin-left: 10px;
}

.footer-items .email, .footer-items .tel {
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
}

.footer-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    color: var(--header-bg-color);
}

.contacts {
    padding-left: 0px;
}

footer .logo {
    color: var(--header-bg-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-box {
    display: flex;
    
}

.footer-form-box input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--footer-bg-color);
    margin-right: 12px;
}

.footer-button {
    color: var(--header-bg-color);
    background-color: var(--accent-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.portfolio-section .buttons {
    display: flex;
    justify-content: center;
    min-width: 611px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-top: 94px;
    cursor: pointer;
    
}

.buttons .button {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border: 0px;
    border-radius: 4px;
    padding: 6px 22px;
}

.button {
    color: var(--title-text-color);
    background-color: var(--secondary-bg-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    margin-right: 9px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons:last-child {
    margin-right: 0px;
}

.button:hover {
    color: var(--header-bg-color);
    background-color: var(--accent-color);
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

.client {
    color: var(--client-color);
}


